h1 {
	color: f3c623;
	font-size: 30px;
	text-align:center;

}
body {
	font-family: montserrat
}
li {
	color : 127681;
	display: inline-block;
	padding:30px;
	margin-right: 30px; 
	background-color: white;
	text-align:center;
	margin-top: 30px;
	margin-bottom: 30px;
	border:3px;
	margin:30px;
	border-radius:10px;
	box-shadow: 0px 5px 20px;
	width: 25%;
}

h3 {
	text-align: center;

}

p {
	color:f3c623;

}
h2 {
	color:687466;
	font-size:23px;
	text-align:center;

}
#tetiere {
	background-image: url(Images/fondimage.jpg);
	background-size: contain;
	background-position: center;
	height: 60vh;
	margin-top: 0px; 
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-color: dedfe3;

}
ul {
	text-align: center;
	
}
#footer {
	background-image: url(Images/SLV.jpg) ;
	background-size: contain;
	background-position: bottom 10px right 10px;
	height: 30%;
	margin-top: 30px; 
	background-color: fad932;
	background-repeat: no-repeat;
}

a {
 text-decoration: none;
 color : 127681;

}
.gris {
	color: 687466;
}
@media (max-width: 720px) {
  .container {
    width: 500px;
}
}

@media (max-width: 960px) {
  .container {
    width: 700px;
}
}

